<% provide(:title, "About") %>


<h1>About</h1>
<h3>What is 80s Online Store?</h3>
<p>We are a small group of eager beavers that search high and low for 80s memorabilia throughout the US.</p>
<p>Our guys on the road search through as many car booth sales, shops and market stalls to bring you 
that 80s memoir you remember so well.</p>
<p>We want to bring back to you the best 80s experiences that you or your loved ones enjoyed so much.</p>
<p>How? By making available to you all those fun and charming 80s memoirs that elsewhere you just can't find.</p> 

<h3>When did 80s Online Store begin?</h3>
<p>We opened our online doors to the public back in 2015, although we've been around a lot longer working
face-to-face with the public at literally hundreds of vintage open days across the USA since 2005.</p>
<p>Since then we have become a hot spot for 80s stuff which incredibly is coming back with a bang.</p>
</p>Your favourite fictional characters from movies are now using walkmans, sporting 80s fashion and using technology from the 80s era.</p>
<p>Why? It's inconic, amusing and interesting even to those who weren't lucky enough to be there.</p>


<h3>Is 80s Online Store based outside the US?</h3>
<p>Yes, we have an office in Dublin, Ireland.</p>
<p>Our Dublin office caters for orders in Europe and Asia.</p>

<h3>Does 80s Online Store care about the environemnt?</h3>
<p>Sure we do, that's why all our packaging is made from upcycled PLA plastic that's bio-degradable.</p>
<p>Instructions are clearly put in all our user manuals how to safely disassemble and dispose of our 80s electronic goods
when they reach their end-of-life. 
<p>But don't worry, that won't be happening for a long, long time.</p>

<h3>What does 80s Online Store do for charity?</h3>
<p>5% of the total price of every item sold goes to a charity. 
<p></p>The charity is chosen each 6 months through a lottery where each and every purchaser
can email us with their chosen charity.</p> <p>The winner of their chosen charity is then drawn from the lott, and all charity funds are then allocated to that fund.</p>

