<% provide(:title, "Help") %>

<h1>Help Page</h1>

<h3>Are all the products authentic?</h3>
<p>We have authentic used 80s products as well as newly manufactured 80s gear that is as good as the real thing. 
</p>

<h3>What kind of products are there?</h3>
<p>We like to break down our category range into the following:
Toys, clothes, electronics, furniture, foot items, music, games, literature and accessories.</p>

<h3>How do I change my password?</h3>
<p>To change your password all you have to do is login and 
go to update profile which you find at the bottom of any of the pages.</p>

<h3>What if I can't find an item I'm looking for?</h3>
<p>We have many products on offer but of course if there's one that you can't find
write us an email and we'll do our best to find your 80's product.</p>

<h3>How do I make a purchase?</h3>
<p>Go to the products page, choose your item/items and proceed to checkout. 
Your payment transaction is processed by Paypal. In a short time we will facilitate
credit card payment.</p>

<h3>How long does it take for delivery of my product?</h3>
<p>Your product will arrive arrive within 3 working days, though this may take longer
if you are situated outside Europe.</p>

<h3>Do I get a guarantee?</h3>
<p>Yes, all our products come with a 30 day money back guarantee.</p>

<h3>Do you include shipping?</h3>
<p>Yes, we have a standard shipping fee of 30$ or rather 25€ (if you're in Europe). Our bigger items, such as the arcade slot machines
do have a different shipping fee. Please email us to confirm.</p>

<h3>How do I send back an unwanted item?</h3>
<p>In the event you need to return a purchased item, send us an email and
we will send you a return form with our postal address. Bring it to any post office
with the product wrapped in its original state.</p>

<p>We will fully refund the amount to your Paypal account as soon
as we receive back the item. Please remember that there is a 30 day leeway from the day of receivership.<p>

<h3>Can I view my previous orders?</h3>
<p>Yes, you can view your orders status by scrolling down any of the pages
and go to 'View Orders'.</p>



<h3>Can I sell any 80s gear I have?</h3>
<p>Yes, we are always on the lookout for 80s paraphernalia so send us an email
with a photo and description of the product you wish to sell. One of our staff
will get back to you within 2 working days.</p>






