<h1>Home</h1>

<h2><p><b>Welcome to 80s Online Store where you can find everything, well almost everything 80s.</b></p></h2>
<p>If there's a product you're looking for and can't see it send us an email, we're sure to have it in stock.</p> 
<p> For FAQs and a little about us, please take a look at our about and help pages.</p> 
<p>Also, feel free to drop us a line, we'd love to hear from you. Enjoy your shopping!!</p>

<%= render 'layouts/search' %>

<%= render 'layouts/categories' %>



